# General
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon[]

# Visual Studio code General
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix